body{
	background-color: #ffffff;
	padding: 0;
	margin: 0;
	transition: 1s;
}
.container,.cubes{
	height: 100px;
	width: 132px;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left:0;
	right: 0;
	cursor: pointer;
}
.cubes{
	z-index: -1;
	transform: scale(1);
}
.toggle{
	height: 100px;
	width: 100px;
	background: #00ff00;
}
.item1{
	height: 100px;
	width: 100px;
	background: #96ff96;
	transition: 1s;
	position: absolute;
}
.item2{
	height: 100px;
	width: 100px;
	background: #96ff96;
	transition: 1s;
	position: absolute;
}
.item3{
	height: 100px;
	width: 100px;
	background: #4bff4b;
	transition: 1s;
	position: absolute;
}
.item4{
	height: 100px;
	width: 100px;
	background: #4bff4b;
	transition: 1s;
	position: absolute;
}